{% extends 'base.html' %}
{% block content %}
    <h1>여행후기 / 댓글 게시판</h1>
    <div class="container my-3">
        <section id="main">
        <table class="table">
            <thead>
                <tr>
                    <th>번호</th><th>제목</th><th>작성일시</th><th>글쓴이</th>
                </tr>
            </thead>
            <tbody>
            {% if review_list %}
                {% for review in review_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'review:review_detail' review.id %}">
                                {{ review.subject }}
                            </a>
                        </td>
                        <td>{{ review.create_date }}</td>
                        <td>{{ review.author }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>후기가 없습니다.</p>
            {% endif %}
            </tbody>
        </table>

    <a href="{% url 'review:review_create' %}" class="btn btn-primary">여행후기 등록</a>
</section>
        </div>
{% endblock %}